{erl_opts, [debug_info, {i, "include"}]}.

%% Dependencies
{deps, []}.

%% Profiles
{profiles, [
    {test, [
        {erl_opts, [debug_info, {i, "include"}]},
        {deps, [
            {coveralls, "2.2.0"}
        ]},
        {plugins, [
            {coveralls, "2.2.0"}
        ]}
    ]},
    {prod, [
        {erl_opts, [no_debug_info, {i, "include"}]}
    ]}
]}.

%% Cover
{cover_enabled, true}.
{cover_opts, [verbose]}.

%% Coveralls
{coveralls_coverdata, "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name, "travis-ci"}.

%% EUnit
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

%% Dialyzer
{dialyzer, [
    {warnings, [
        no_return,
        no_unused,
        no_improper_lists,
        no_fun_app,
        no_match,
        no_opaque,
        no_fail_call,
        error_handling,
        unmatched_returns
    ]}
]}.

%% Hex.pm configuration
{hex, [
    {doc, #{provider => ex_doc}}
]}.

%% Project plugins
{plugins, [
    rebar3_hex,
    rebar3_ex_doc
]}.

%% Minimum OTP version
{minimum_otp_vsn, "24"}.
